<div class= "container divcenter">
    <div class= "row">
        <div class= "col-md-12 text-center">
            <h1 >
                ¡Entra en nuestra web!
            </h1>
        </div>
    </div>
    <div class = "row">
        <div class= "col-md-12 text-center">
            <div class="mb-3">
            <br>
              <h3> Actualmente no disponemos de Login.
                  <br> Registrate para en el futuro poder acceder a nuestra web.</h3>
            <br>
            <button type="submit" (click)="this.enviarRegistro()" class="btn btn-primary">Registrarse</button> 
            </div>    
            <div class="text-center ">        
            <img src="https://media2.giphy.com/avatars/TheBallotBunch/UWQuFCvM6cVT.gif" />
            </div>               
        </div>
    </div>
</div>>
