body {
  font-family: 'Lato', sans-serif
}

h1 {
  margin-bottom: 40px
}

.btn {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 30%;
  margin: 40px
  
  
}
img{
  margin-top: 5%;
  

}



